html {
    white-space: pre-line;
    /*padding : 0px 500px 0px 500px;*/
}
body {
    background-color: darkslategray;
    color: wheat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
a:link{
    color : lightgoldenrodyellow;
}
a:visited {
    color : goldenrod;
}