---
import NavbarLayout from "@layouts/NavbarLayout.astro";
---
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: xxx-large;
  }
</style>
<NavbarLayout pageTitle="404 Page not found">
  <div>
    <h1>404</h1>
    <p>No such page exists</p>
  </div>
</NavbarLayout>