---
import AboutMe from '@components/frontpage/AboutMe.astro';
import Education from '@components/frontpage/Education.astro';
import Experience from '@components/frontpage/Experience.astro';
import Projects from '@components/frontpage/Projects.astro';
import Navigation from '@components/Navigation.astro';
import Layout from '@layouts/Layout.astro';
import NavbarLayout from '@layouts/NavbarLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<style>
	.homepage-layout {
		display: flex;
		flex-direction: column;
	}
</style>

<NavbarLayout>
	<div class="homepage-layout">
		<AboutMe />
		<Experience />
		<Education />
		<Projects />
	</div>
</NavbarLayout>