---
import Navigation from "@components/Navigation.astro";
import Layout from "@layouts/Layout.astro";
import NavbarLayout from "@layouts/NavbarLayout.astro";
---
<style>
  object {
    width: 100%;
    aspect-ratio: 4 / 3;
  }
</style>
<NavbarLayout pageTitle="Resume">
  <div class="resume-layout">
    <h1>Resume</h1>
    <object data="/public/resume.pdf" type="application/pdf">
    </object>
  </div>
</NavbarLayout>