---
import NavbarLayout from "@layouts/NavbarLayout.astro";
---
<style>
  object {
    width: 100%;
    aspect-ratio: 4 / 3;
  }

  .resume-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<NavbarLayout pageTitle="Resume">
  <div class="resume-layout">
    <h1 id="resume-label">Resume</h1>
    <object data="/resume.pdf" type="application/pdf" aria-label="resume" title="resume" aria-labelledby="resume-label">
    </object>
  </div>
</NavbarLayout>