---
import Section from "@components/Section.astro";
import {Content as EducationContent} from './content/education.md';
---
<style>
  
</style>
<Section backgroundStyle="foreground" borderColor="secondary">
  <EducationContent />
</Section>