---
import GithubLogo from '@assets/github.svg';
import LinkedinLogo from '@assets/linkedin.svg';
import '@styles/global.css'
---
<style>
  .iconlist {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
  }
  .icon {
    border: unset;
  }
</style>
<div class="iconlist">
  <a class="icon" href="https://www.github.com/bryh311">
    <GithubLogo width={"30px"} height={"30px"} />
  </a>
  <a class="icon" href="https://www.linkedin.com/in/bryce-hill09">
    <LinkedinLogo width={"30px"} height={"30px"} />
  </a>
</div>