---
import Section from "@components/Section.astro";
import {Content as ProjectContent} from "./content/projects.md";
---
<Section backgroundStyle="foreground" borderColor="secondary">
  <ProjectContent />
</Section>