---
import '@styles/global.css'
import Links from './Links.astro';
import Section from './Section.astro';
import {Content as AboutMeContent} from '../frontpage-content/about-me.md';

---
<div class="aboutme">
  {/*<Image src={myImage} alt="an image of me" layout="fixed" height={600} class="aboutme-image"/> */}

  <Section backgroundStyle="foreground" borderColor="secondary">
    <AboutMeContent />
    <Links />
  </Section>
</div>
