---
import Section from "./Section.astro";
import {Content as ExperienceContent} from '../frontpage-content/experience.md'
---
<Section backgroundStyle="foreground" borderColor="secondary">
  <ExperienceContent />
</Section>