---
interface Props {
    url: string;
    title: string;
    date: string;
}

const {url, title, date} = Astro.props;
const dateObj = new Date(date);
const dateStr = dateObj.toLocaleDateString('en-US');
---
<li>
    <a href={url}>{title} - {dateStr}</a>
</li>
