---
import '@styles/global.css';
import '@fontsource/newsreader'
const {pageTitle} = Astro.props;
---
<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce Hill {pageTitle && `- ${pageTitle}`}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: 'Newsreader', serif;
	}
</style>
