---
interface Props {
	pageTitle?: string;
}
import '@styles/global.css';
import '@fontsource/newsreader'
const {pageTitle} = Astro.props;
---
<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle && `${pageTitle} -`} Bryce Hill</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: 'Newsreader', serif;
	}
</style>
